<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/page-header'); %>

    <div class="jumbotron">
      <h1>Super Secret Vault</h1>
      <p class="lead">
        Only authorized parties may view the grand page of secrets.
      </p>
    </div>

    <%- include('partials/page-footer'); %>
  </body>
</html>
