<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
    <link rel="stylesheet" href="/static/protected/secret.css" />
  </head>
  <body>
    <%- include('partials/page-header'); %>

    <div class="jumbotron">
      <h1>Grand Page of Secrets</h1>
    </div>

    <main class="container">
      <section class="row">
        <h2 class="col-12 col-sm-4 col-md-2">
          The Triangles are Everywhere
        </h2>
        <div class="col-12 col-sm-8 col-md-10">
          <img class="img-fluid" src="/static/protected/proof-of-pyramids.png" alt="THE TRIANGLES" />
        </div>
      </section>

      <section class="row">
        <h2 class="col-12 col-sm-4 col-md-2">
          They're in our Trees
        </h2>
        <div class="col-12 col-sm-8 col-md-10">
          <img class="img-fluid" src="/static/protected/its-everywhere.png" alt="TRUTHBOMB" />
        </div>
      </section>

      <section class="row">
        <h2 class="col-12 col-sm-4 col-md-2">
          They're in our food
        </h2>
        <div class="col-12 col-sm-8 col-md-10">
          <img class="img-fluid" src="/static/protected/food.jpg" alt="Nothing is safe" />
        </div>
      </section>
    </main>

    <%- include('partials/page-footer'); %>
  </body>
</html>
